In [1]:
# Import Linear ALgebra and data Manipulation libraries

import numpy as np 
import pandas as pd

# Import standard visualization 
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# Import plotly
import chart_studio.plotly as py
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode
from plotly import tools
# plotly and cufflinks in offline mode :
import cufflinks as cf
cf.go_offline(connected = True)
init_notebook_mode(connected = True)

In [7]:
# Import machine learning : 
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

import xgboost 

from sklearn.model_selection import train_test_split # Split data
from sklearn.metrics import accuracy_score # Metrics

# Tools for hyperparameters search : 
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

# Introduction : 
Today organizations, which hire data scienctist are especially interested in JOB condidate's portfolio, Analysis of organization's marketing data is one of the most typical application of data science and machine learning, such analysis will definetely be nice contribution to the portfolio.
In general, datasets which contain marketing data can be used for 2 different businiess goals:
    1. Prediction of the results of the marketing compaign for each cutomer and clarification of factors which affect the compaign results, this helps to find out the ways how to make marketing compaings more efficient.
    2. Finding out customer segments, using data for customers, who subscribed to term deposit. This helps to identify the profile of a cutomer, who is more likely to acquire the product and develop more targeted marketing compaigns.
There is a Datasets, which contains bank marketing data on Kaggle;

# Approach 
In order to optimize marketing compaigns with the help of the dataset, we will have to take the following setps :
    1. Import data from dataset and perform initial high-level analysis: look at the number of rows, look at the missing values, look at the dataset columns and their values respective to the compaing outcome.
    2. Clean the data, remove irrelevant columns, deal with missing and incorrect values, turn categorical columns into dummy variables.
    3. Use machine learning techniques to predict the marketing compaign outcome and find out factors, which affect the succes of the compaign.

In [8]:
# Import data 
import pandas as pd

df = pd.read_csv('bank.csv')

In [9]:
df.head()

,Unnamed: 0,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [16]:
# Drop the first columns 
df = df.drop('Unnamed: 0', axis = 1)

In [17]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'deposit'],
      dtype='object')

In [18]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes